################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/2DFrameWork/FileContentIndex/41bd0796-43f3-4efd-b5c0-409148bec79d.vsidx
/.vs
